@import '../app/App.scss';

.search {
    position: relative;

    &__icon {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        font-weight: 200;
        color: grey;
        display: flex;
    }

    &__input {
        width: 100%;
        padding: 5px;
        padding-left: 30px;
        padding-block: 8px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        outline: none;
        color: $grey-dark;
    }
  }